



*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}

header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}


/*splash screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(253, 248, 248);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s ;

}

.logo.fade{
    bottom: 150%;
    opacity: 0;
    transition: ease-in-out;
}

NAV{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgba(234, 177, 120, 0.471);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}






